/* h3 {
  color: navy;
  font-size: 4rem;
} */
/* css rules */
/* selectors */
/* declaration block */
/* property */
/* value */

/* element selectors */
/* h2 {
  color: orange;
  font-size: 2rem;
}
h3 {
  color: green;
  font-size: 4rem;
}
p {
  color: #333;
  font-size: 1rem;
  letter-spacing: 0.5rem;
} */

/* grouping selectors */
/* h2,
h3,
p {
  color: blueviolet;
} */

/* id selectors */
/* #title {
  background: #333;
  color: #fff;
  text-align: center;
}
#footer-heading {
  background-color: #333;
  color: green;
  text-align: center;
} */

/* class selectors */
/* .green {
  color: green;
}
.red {
  color: red;
  background: #ccc;
} */

/* both id and class */
/* #title {
  background: #333;
}
.green {
  color: green;
}
.uppercase {
  text-transform: uppercase;
} */

/* div and span is used for grouping */
/* div - used to group multiple elemnts */
/* span - used to group inline content */
/* .red {
  color: red;
  background: black;
}
.green {
  color: green;
  background: yellow;
}
span {
  text-transform: uppercase;
}
.text {
  background: #fff;
  color: blue;
} */

/* inheritence in css */
/* children inherit styles from the parents, unless have their own styles */

/* body {
  color: red;
}
.special {
  color: green;
}
h1 {
  color: yellow;
}
.para {
  color: maroon;
} */

/*last rule and specificity and universal selectors */
/* p {
  color: red;
} */
/* more code here */
/* p {
  color: blue;
} */

/* universal selector */
/* universal selectors have less specificity */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* combine selectors and decendent selector */
/* combine selector */
/* .container p {
  color: green;
}
.container #text {
  color: blue;
} */

/* color properties  */
/* background-colors  */
/* .heading-1 {
  color: green;
  background-color: blueviolet;
}
.heading-2 {
  color: aqua;
  background: grey;
} */

/* rgb colors */
/* .heading-1 {
  color: rgb(255 0 0);
  background: rgb(0 0 0);
}
.heading-2 {
  color: rgb(0 255 0);
  background: rgb(255 255 255);
}
.heading-3 {
  color: rgb(0 0 255);
  background: rgb(180 180 210);
}
body {
  background: rgb(160 200 100);
} */

/* rgba */
/* .heading-1 {
  color: rgba(255, 0, 0, 1);
}
.heading-2 {
  color: rgba(255, 0, 0, 0.75);
}
.heading-3 {
  color: rgba(0, 255, 0, 0.86);
  background: rgba(0, 0, 255, 0.6);
}
.heading-4 {
  color: rgba(0, 255, 0, 1);
  background: rgba(0, 0, 255, 1);
} */
/* coolors.co site for different different colors */
/* hex color */
/* .heading-5 {
  color: #333;
  background: #ccc;
} */

/* 14_css_units */
/* pixels - absolute values , one dot on the screen
font size- size of font
width- width of an element
height- height of an element */

/* h1 {
  font-size: 60px;
  background: blue;
  color: #fff;
  width: 200px;
  height: 400px;
} */

/* percent unit are relative units depends on the parent */
/* .outer {
  width: 200px;
  height: 200px;
  background: blue;
}
.inner {
  width: 50%;
  height: 50%;
  background: red;
} */

/* em unit
em- Relative , depends on parent
1em - 16px default browser style
1em = base value (16px) * number (1) = 16px
2em = base value (16px) * number (2) = 32px
2em = base value (10px) * number (2) = 20px */
/* div {
  font-size: 10px;
}
.absolute {
  font-size: 32px;
}
.relative {
  font-size: 2rem;
} */

/* rem units 
rem - depends on root
1rem = base value (16px) * number 1 */
/* html {
  font-size: 10px;
}
.first {
  font-size: 1rem;
}
.second {
  font-size: 2rem;
} */

/* 15_vh nad vw */
/* viewport units
vh - height -percent of the screen
vw - width - percent of the screen */
/* .hero {
  background: burlywood;
  width: 100vw;
  height: 100vh;
}
.about {
  background: ccc;
  height: 50vh;
  width: 50vw;
} */
