/* h3 {
  color: navy;
  font-size: 4rem;
} */
/* css rules */
/* selectors */
/* declaration block */
/* property */
/* value */

/* element selectors */
/* h2 {
  color: orange;
  font-size: 2rem;
}
h3 {
  color: green;
  font-size: 4rem;
}
p {
  color: #333;
  font-size: 1rem;
  letter-spacing: 0.5rem;
} */

/* grouping selectors */
/* h2,
h3,
p {
  color: blueviolet;
} */

/* id selectors */
/* #title {
  background: #333;
  color: #fff;
  text-align: center;
}
#footer-heading {
  background-color: #333;
  color: green;
  text-align: center;
} */

/* class selectors */
/* .green {
  color: green;
}
.red {
  color: red;
  background: #ccc;
} */

/* both id and class */
/* #title {
  background: #333;
}
.green {
  color: green;
}
.uppercase {
  text-transform: uppercase;
} */

/* div and span is used for grouping */
/* div - used to group multiple elemnts */
/* span - used to group inline content */
/* .red {
  color: red;
  background: black;
}
.green {
  color: green;
  background: yellow;
}
span {
  text-transform: uppercase;
}
.text {
  background: #fff;
  color: blue;
} */

/* inheritence in css */
/* children inherit styles from the parents, unless have their own styles */

/* body {
  color: red;
}
.special {
  color: green;
}
h1 {
  color: yellow;
}
.para {
  color: maroon;
} */

/*last rule and specificity and universal selectors */
/* p {
  color: red;
} */
/* more code here */
/* p {
  color: blue;
} */

/* universal selector */
/* universal selectors have less specificity */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/* combine selectors and decendent selector */
/* combine selector */
/* .container p {
  color: green;
}
.container #text {
  color: blue;
} */

/* color properties  */
/* background-colors  */
/* .heading-1 {
  color: green;
  background-color: blueviolet;
}
.heading-2 {
  color: aqua;
  background: grey;
} */

/* rgb colors */
/* .heading-1 {
  color: rgb(255 0 0);
  background: rgb(0 0 0);
}
.heading-2 {
  color: rgb(0 255 0);
  background: rgb(255 255 255);
}
.heading-3 {
  color: rgb(0 0 255);
  background: rgb(180 180 210);
}
body {
  background: rgb(160 200 100);
} */

/* rgba */
/* .heading-1 {
  color: rgba(255, 0, 0, 1);
}
.heading-2 {
  color: rgba(255, 0, 0, 0.75);
}
.heading-3 {
  color: rgba(0, 255, 0, 0.86);
  background: rgba(0, 0, 255, 0.6);
}
.heading-4 {
  color: rgba(0, 255, 0, 1);
  background: rgba(0, 0, 255, 1);
} */
/* coolors.co site for different different colors */
/* hex color */
/* .heading-5 {
  color: #333;
  background: #ccc;
} */

/* 14_css_units */
/* pixels - absolute values , one dot on the screen
font size- size of font
width- width of an element
height- height of an element */

/* h1 {
  font-size: 60px;
  background: blue;
  color: #fff;
  width: 200px;
  height: 400px;
} */

/* percent unit are relative units depends on the parent */
/* .outer {
  width: 200px;
  height: 200px;
  background: blue;
}
.inner {
  width: 50%;
  height: 50%;
  background: red;
} */

/* em unit
em- Relative , depends on parent
1em - 16px default browser style
1em = base value (16px) * number (1) = 16px
2em = base value (16px) * number (2) = 32px
2em = base value (10px) * number (2) = 20px */
/* div {
  font-size: 10px;
}
.absolute {
  font-size: 32px;
}
.relative {
  font-size: 2rem;
} */

/* rem units 
rem - depends on root
1rem = base value (16px) * number 1 */
/* html {
  font-size: 10px;
}
.first {
  font-size: 1rem;
}
.second {
  font-size: 2rem;
} */

/* 15_vh nad vw */
/* viewport units
vh - height -percent of the screen
vw - width - percent of the screen */
/* .hero {
  background: burlywood;
  width: 100vw;
  height: 100vh;
}
.about {
  background: ccc;
  height: 50vh;
  width: 50vw;
} */

/* 17_calc_function 
PERFORM MATH OPERATIONS + - * /
MIX AND MATCH VALUES*/
/* * {
  margin: 0;
}
.navbar {
  background: blue;
  color: white;
  font-size: 3rem;
  text-align: center;
  height: 6rem;
}
.banner {
  background: red;
  height: calc(100vh - 6rem);
} */

/* 18_min_max */
/* height: auto; min-height; max-height; overflow */

/* * {
  margin: 0;
}
.navbar {
  background: blue;
  color: white;
  font-size: 3rem;
  text-align: center;
  height: 6rem;
}
.banner {
  background: red;
  min-height: calc(100vh - 6rem); */
/* max-height: 90vh; */
/* overflow: hidden; */
/* overflow: scroll; */
/* }
.about {
  background: green;
  width: 15rem;

  min-height: 20rem; */
/* overflow: hidden; */
/* overflow: scroll; */
/* } */

/* 19_typography
font-size - size of  the fonts
font-family - describes the font of the elemnts */
/* body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
} */

/* 20_google_fonts */
/* body {
  font-family: "Nabla", cursive;
  line-height: 1.6rem;
}
h1 {
  font-size: 3rem;
  color: green;
} */

/* 21_system_fonts
a fonts that's already installed on the device of the user.

-fast load times
-less headaches
-project will look different system to system

"-apple-system , blinkmacsystemfont - sytem of font on apple devices
segoe ui - used on windows system
roboto - syetm font for android devices*/
/* body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
} */

/* 22_font-weight_font-style
 font-weight - how thick or thin characters in text should be
 font-style set font  style for a text*/
/* .main-heading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
} */
/* .para-one {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-style: oblique;
  font-style: normal;
}
.sub-heading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
.para-two {
  font-family: Arial, Helvetica, sans-serif;
} */

/* 23_text-align , text-indent */
/* body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  text-align: right;
  text-align: left;
}
.main-heading {
  text-align: center;
}
.para-two {
  text-align: left;
  text-indent: 2rem;
} */

/* text more properties
line-height - if numbers * by font-size
letter-spacing
word-spacing
text-transform
text-decoration */
/* body {
  line-height: 1.7;
}
.link {
  text-decoration: none;
}
h1 {
  text-transform: uppercase;
  text-decoration: line-through;
  text-decoration: overline;
}
p {
  letter-spacing: 0.2rem;
  word-spacing: 1rem;
  text-transform: capitalize;
} */

/* 24_css_box-model padding */
/* h1 {
  background: orange;
  color: #fff;
  padding: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
p {
  background: orangered;
  color: #fff;
  padding: 1rem;
} */

/* 25_css_box_model margin */
/* * {
  margin: 0;
}
h1 {
  background: grey;
  margin-bottom: 10rem;
  padding: 2rem;
  border: 2px dotted black;
  margin-top: 10rem;
  margin-left: 10rem;
  margin-right: 10rem;
}
p {
  padding: 2rem;
  background: olivedrab;
  border-radius: 5px;
  negative margin
  margin-top: -12rem;
} */

/* 26_outline */
/* .links {
  margin: 2rem;
}
a {
  padding: 1rem;
  background: #235275;
  color: #fff;
  text-decoration: none;
  margin: 2rem;
}
#one {
  border: 2px solid black;
  border-radius: 5px;
  outline: 0.2rem solid red;
  outline-offset: -10px;
}
#two {
  outline: 1px solid black;
  outline-width: 2px;
  outline-color: black;
  outline-style: dotted;
  outline-offset: -10px;
  outline: 2px solid black;
} */

/* 27_border_hack */
/* * {
  border: 2px solid red;
} */

/* 28_css_display */
/* Elements have it set by default
Block : Always start a new line and spans full width
Inline : Does not start a new line and span only content */
/* .block {
  background: green;
  color: #fff;
  width: 300px;
  text-align: center;
  margin: 2rem auto; */
/* display: block;  by default display is block */
/* display: inline; */
/* } */
/* .inline-element {
  text-align: center;
}
.inline {
  background: purple;
  color: #fff; */
/* display: inline;  by default display is inline*/
/* display: block;
  margin-bottom: 1rem; */
/* } */

/* 29_mobile_navbar
block: browser respects width/height, top/bottom margin 
Inline: browser does not respect width/height, top/bottom margin
navbar
list-type-type:property
descendent selectors */
/* span {
  background: green;
  color: #fff;
  width: 300px;
  height: 200px;
  margin-top: 1rem;
  margin-bottom: 10rem;
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
.ul li {
  list-style: none;
}
ul li a {
  color: orange;
  text-decoration: none;
  letter-spacing: 2px;
  background: #222;
  display: block;
  padding: 1rem;
  margin: 10px;
} */

/* 30_box_sizing 
box-sizing: border-box
default content box */

/* .box-1,
.box-2,
.box-3 {
  width: 200px;
  height: 200px;
  color: #fff;
  font-size: 1.5rem;
}
.box-1 {
  background: blue;
  padding: 20px;
  box-sizing: content-box; default
  box-sizing: border-box;
}
.box-2 {
  background: green;
}
.box-3 {
  background: purple;
  padding: 20px;
} */

/* 31_css_inline-block 
display: inline-block
does not start a new line
browser respects margin width height*/
/* a {
  font-size: 1.5rem;
  background: red;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 1rem;
  margin: 40px 10px;
} */

/* 32_css_visibility and opacity 
display: none - remove from the flow , hide the element collapse the space
opacity:0 , visibilty:hidden - hides element preserves the space
*/

/* div {
  background: #777;
  margin: 1rem;
  color: #fff;
  font-size: 1.3rem;
}
.none {
  display: none;
}
.opacity-1 {
  opacity: 1;
}
.opacity-5 {
  opacity: 0.5;
}
.opacity-0 {
  opacity: 0;
}
.visibility {
  visibility: hidden;
} */
/* * {
  margin: 0;
}
#showcase {
  background: url(./image/pexels-roberto-nickson-2531237.jpg),
    url(./image/pexels-fabian-wiktor-994605.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
} */

/* 33_position */
/* float */
/* first approach using flex */
/* .banner {
  display: flex;
  align-items: center;
  border: 5px solid black;
  padding: 0.5rem;
  background: linear-gradient(
    to right,
    rgba(132, 213, 122, 0.2),
    rgba(132, 213, 122, 0.6),
    rgba(132, 213, 122, 0.9)
  );
}
.banner img {
  width: 200px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
} */
/* second approach using float property */
/* .banner {
  border: 5px solid black;
  padding: 0.5rem;
}
.one {
  float: left;
}
.two {
  float: right;
} */
/* clear property is used for clear the float property from both side */
/* p {
  clear: both;
} */
/* 34_float_column */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  width: 50%;
  height: 200px;
  float: left;
  float: right;
}
.one {
  background: red;
}
.two {
  background: green;
}
.three {
  background: blue;
}
.four {
  background: blueviolet;
}
h2 {
  clear: both;
} */
/* 35_position static */
/* div {
  border: 3px solid red;
  background: yellow;
  margin-top: 3rem;
  
}
.one {
  background: blue;
  color: #fff;
  position: static;
}
.two {
  background: green;
  color: #fff;
}
.special {
  background: pink;
  font-size: 1.2rem;
  color: #333;
} */
/* 36_position relative */
/* position: static - default ,
always positoned according to the normal flow,
position:relative - position relative to its normal position.
top,bottom , left, right */
/* div {
  border: 3px solid red;
  background: yellow;
  margin-top: 3rem;
}
.one {
  background: blue;
  color: #fff;
  position: relative;
  top: 100px;
  bottom: 50px;
  left: 100px;
  right: 50px;
}
.two {
  background: green;
  color: #fff;
}
.special {
  background: pink;
  font-size: 1.2rem;
  color: #333;
} */
/* 37_position_absolute */
/* position absolute - relative to the parent with postion:relative.
position:fixed - relative to the viewport(screen), stays as we are scrolling
will use other content to fill out the space */
/* div {
  border: 3px solid red;
  background: yellow;
  margin-top: 3rem;
  position: relative;
}
.one {
  background: blue;
  color: #fff; */
/* position: fixed;
  top: 0;
  left: 0;
  z-index: 2; */
/* position: absolute; */
/* left: 20px; */
/* } */
/* .two {
  background: green;
  color: #fff; */
/* position: absolute; */
/* } */
/* .special {
  background: pink;
  font-size: 1.2rem;
  color: #333;
  position: absolute;
  top: 0;
  left: 0;
}
.container {
  min-height: 100vh;
} */
/* 38_position fixed */
/* .navbar {
  background: #333;
  color: #fff;
  font-size: 1.5rem;
  text-transform: capitalize;
  position: fixed;
  top: 0;
  left: 0;
} */
/* position sticky */
/* position:sticky - toggles between relatives and fixed once the position is met in the viewport - then it sticks
one of the values top, left, bottom, right */
/* .navbar {
  background: #333;
  color: #fff;
  font-size: 1.5rem;
  text-transform: capitalize;
  position: sticky; */
/* position: fixed; */
/* top: 0;
  left: 0; */
/* width: 100%; */
/* } */
/* div {
  border: 3px solid red;
  background: yellow;
  margin-top: 3rem; */
/* position: relative; */
/* } */
/* .one {
  background: blue;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  position: absolute;
  left: 20px;
}
.two {
  background: green;
  color: #fff;
  position: absolute;
} */
/* .special {
  background: pink;
  font-size: 1.2rem;
  color: #333;
  position: absolute;
  top: 0;
  left: 0;
}
.container {
  min-height: 100vh;
} */

/* 39_media queries */
/* media queries
responsive design
style elements on diffrent screen sizes
min-width: -- starting from 
max-width: --- up to mobile first */
body {
  background: purple;
}
.banner {
  background: green;
}
h1 {
  text-align: center;
  text-decoration: underline;
  color: #fff;
  text-transform: capitalize;
}

/* media queries */
@media screen and (min-width: 576px) {
  body {
    background: rebeccapurple;
  }
  .banner {
    background: yellow;
  }
  h1 {
    font-size: 60px;
  }
}
