/* CSS VARIABLES AKA CUSTOM PROPERTIES
allows to store values in one place and re-use it later
--varName:value
property:var(--varName);
scope
:root{} === global
element ===local 
any property(we can create vaariables of any properties*/
/* global variables */
:root {
  --primary-color: #00ff37;
  --secondary-color: red;
  --mainTransition: all 2s linear;
  --mainSpacing: 5px;
}
h1 {
  color: var(--primary-color);
}
h2 {
  color: var(--primary-color);
}
h3 {
  color: var(--primary-color);
  transition: var(--mainTransition);
}
h3:hover {
  color: var(--secondary-color);
}
p {
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}
p:hover {
  color: var(--secondary-color);
}
/* local variables */
div {
  --primary-red: red;
}
.main {
  color: var(--primary-red);
}
h3 {
  color: var(--primary-red);
}
