/* 01_variables  */
/* CSS VARIABLES AKA CUSTOM PROPERTIES
allows to store values in one place and re-use it later
--varName:value
property:var(--varName);
scope
:root{} === global
element ===local 
any property(we can create vaariables of any properties*/
/* global variables */
/* :root {
  --primary-color: #00ff37;
  --secondary-color: red;
  --mainTransition: all 2s linear;
  --mainSpacing: 5px;
}
h1 {
  color: var(--primary-color);
}
h2 {
  color: var(--primary-color);
}
h3 {
  color: var(--primary-color);
  transition: var(--mainTransition);
}
h3:hover {
  color: var(--secondary-color);
}
p {
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}
p:hover {
  color: var(--secondary-color);
} */
/* local variables */
/* div {
  --primary-red: red;
}
.main {
  color: var(--primary-red);
}
h3 {
  color: var(--primary-red);
} */
/* fontwasome_icons */
/* svg {
  width: 50px;
  height: 50px;
  color: purple;
  background: orange;
  padding: 1rem;
  border: 3px solid black;
  border-radius: 10%;
  transition: all 2s ease-in-out;
}
svg:hover {
  transform: translateX(400px);
} */
/* 02_box_shadow and text shadow property */
/* text shadow */
/* h1 { */
/*text-shadow: offset-x, Offset-y  blur-radius color;  */
/* text-shadow: 10px 5px 10px rgb(55, 0, 128);
} */
/* box shadow */
/* box-shadow:offset-x,
offset-y Blur-radius,
spread-radius,
color */
/* .box {
  width: 300px;
  height: 400px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 2px 4px 10px, -2px -4px 10px rgb(58, 53, 53);
  border-radius: 10px;
  text-align: center;
  transition: all 2s ease-in-out;
}
.box:hover {
  transform: scale(1.2);
  transform: skewX(20deg);
  transform: translateY(2rem);
}
button {
  padding: 0.75rem 3rem;
} */

/* 03_browser prefixes */
/* caniuse.com */
/* shouldiprefix.com */
/* h1 {
  text-shadow: 10px 5px 10px rgb(55, 0, 128);
} */
/* box shadow */
/* .box {
  width: 300px;
  height: 400px;
  background: #fff;
  margin: 0 auto;
  box-shadow: 2px 4px 10px, -2px -4px 10px rgb(58, 53, 53);
  border-radius: 10px;
  text-align: center;
  transition: all 2s ease-in-out;
}
.box:hover {
  transform: scale(1.2);
  transform: skewX(20deg);
  transform: translateY(2rem);
}
button {
  padding: 0.75rem 3rem;
} */
/* 04_symantics tags */
/* symantics tags are used rather than using div elements these tags are help to maintain a squence or structure of webpage */
/* w3 school resources for symantics tags learn in details .semantic elements = elements with a meaning it describes its meaning both browser and developer
https://www.w3schools.com/html/html5_semantic_elements.asp */
/* .navbar {
  background: red;
  font-size: 2rem;
}
nav {
  background: purple;
  font-size: 2rem;
} */
/*05_object-fit */
/* object-fit: Cover , contain , fill, none, scale-down */
img {
  width: 100%;
  display: block;
  height: 300px;
  object-fit: cover;
  /* object-fit: contain; */
  /* object-fit: fill; */
  /* object-fit: scale-down; */
}
.one {
  float: left;
  width: 45%;
  margin-right: 5%;
}
.two {
  float: right;
  width: 45%;
  margin-right: 5%;
}
